body{
	background-color: black;
	

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

p {
	
	
	
	
  position: fixed;
  bottom: 10%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
 
  
  color: white;
  font-family: "Courier New", monospace;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  background:  rgba(1, 1, 107, 0.73)	;
  padding: 10px;
  
}